<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
 <!--   <uses-permission android:name="android.permission.CAMERA" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekatMobilne">
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".activities.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" /> <!-- 1. SPLASH (MainActivity renamed) - LAUNCHER -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 4. TASKS ACTIVITY (tvog kolege deo - ostaje) -->
        <activity
            android:name=".activities.TasksActivity"
            android:exported="false"
            android:label="@string/my_tasks"
            android:parentActivityName=".activities.HomeActivity" /> <!-- 5. ADD TASK ACTIVITY (tvog kolege deo - ostaje) -->
        <activity
            android:name=".activities.AddTaskActivity"
            android:exported="false"
            android:label="@string/new_task"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.BossFightActivity" />
    </application>

</manifest>