<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekatMobilne">

        <!-- 1. Glavna aktivnost (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Aktivnost za prikaz taskova (Mora biti VAN MainActivity taga) -->
        <activity
            android:name=".Activity.TasksActivity"
            android:exported="false"
            android:label="Moji Zadaci"
            android:parentActivityName=".MainActivity">
        </activity>

        <!-- 3. Aktivnost za dodavanje taska -->
        <activity
            android:name=".Activity.AddTaskActivity"
            android:exported="false"
            android:label="Novi Zadatak"
            android:windowSoftInputMode="adjustResize">
        </activity>

    </application>
</manifest>